body {
    background-color: black;
    margin: 35px;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: var(--color-main);
}

nav {
    background-color: black;
    align-content: center;
}

nav img {
    text-align: center;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

.container-welcome {
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-videos {
    margin: 25px;
}

.video-preview h2 {
    color: white;
}

.ad-container {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #f0f0f0;
    z-index: 9999;
}

.left-ad {
    top: 0;
    left: 0;
}

.right-ad {
    top: 0;
    right: 0;
}
